<body>
  <h1>
    <b style=" color: #705656;">
      Sandy-Controller
    </b>
  </h1>
  <b>
    <i>
      "On the rare occasions Sandy wakes from his slumber, he tries to help his big sister Tara around their store. But
      it's never long before he falls asleep again."<br>
    </i>
  </b>
  <img
    src="https://vignette.wikia.nocookie.net/brawlstars/images/e/e3/Sandy_Portrait.png/revision/latest?cb=20200609194740&path-prefix=es">
  <p>
    Sandy is a <i style="color: #ffbb00;"><strong>Legendary</strong> Brawler</i> with moderately high health, an
    above-average movement speed, and immense utility
    with<br>
    his Super but a moderately low damage output. He attacks by throwing sand that spread out and pierces through<br>
    enemies. His Super summons a sandstorm that makes him and his allies invisible while inside it. His first
    Gadget,<br>
    Sleep Stimulator, makes Sandy fall asleep momentarily to restore all of his missing health. His second Gadget,
    Sweet<br>
    Dreams, makes his next attack apply a special stun to enemies that disappears when they take damage. His first
    Star<br>
    Power, Rude Sands, allows his Super to slightly damage enemies inside it over time. His second Star Power,
    Healing<br>
    Winds, allows his Super to slightly heal him and his allies inside it over time. His Hypercharge, Swift Winds,<br>
    allows Sandy's next Super to increase his and allies movement speed while inside its radius. Enemies affected by<br>
    Sandy's Hypercharge can't attack or use their Super, Gadget, or Hypercharge.

    Advertisement
  </p>
  <button style="height: 75px; width: 75px; color: #794828; background-color: rgb(223, 186, 108);"><strong>REGRESAR AL
      INCIO</strong>
  </button>
</body>