<body>
  <h1>
    <b style=" color: #d46e6e;">
      Piper-Marksman
    </b>
  </h1>
  <b>
    <i>
      "Piper wants nothing more than to be the local village baker who hands out pies, cookies and other sweet treats!
      Just don't ask about her past."<br>
    </i>
  </b>
  <img src="https://th.bing.com/th/id/OIP.nIVWBKXhPKb9WNfkyYchvQHaIV?rs=1&pid=ImgDetMain">
  <p>
    Piper is an
    <i style="color:#5000b9 ;"> <strong>Epic</strong> Brawler</i> who has the second lowest health of any Brawler but
    can deal very high
    damage to faraway targets.<br>
    She fires a long-ranged bullet from her umbrella that deals more damage the further it travels. Her Super pops
    grenades at her <br>
    feet before jumping away from her enemies, dealing damage to enemies upon detonation. Her first Gadget, Auto Aimer,
    allows her<br>
    to fire a bullet from a side pistol towards the closest enemy, pushing them back and momentarily slowing them down.
    Her second<br>
    Gadget, Homemade Recipe, makes her next bullet home in on enemies. Her first Star Power, Ambush, allows her to deal
    extra damage<br>
    while firing from a bush. Her second Star Power, Snappy Sniping, reloads part of her ammo when she hits an enemy.
    Her
    Hypercharge, <br>
    Boppin', makes her Super pop more grenades and travel faster than her normal Super, knocking enemies back and
    destroying obstacles upon landing.
  </p>
  <button style="height: 75px; width: 75px; color: #d46e6e; background-color: beige;"> REGRESAR AL INCIO </button>
</body>