<body>
  <h1>
    <b style=" color: #29c514;">
      Spike-Damage Dealer
    </b>
  </h1>
  <b>
    <i>
      "Aunque la gente piensa que Spike es el compañero adorable de Colt y Shelly en el rancho, nadie puede imaginar
      cuán traumático es su espinoso pasado..."<br>
    </i>
  </b>
  <img style="height: 500px; width: 500px;"
    src="https://th.bing.com/th/id/OIP.MRlXEWMBLAonyFKYueT1MAHaHM?rs=1&pid=ImgDetMain">
  <p>
    Spike es un <i style="color: #ffbb00;">Brawler <strong>Legendario</strong></i> con poca salud, pero un daño
    devastadoramente alto. Su ataque es una bola
    espinosa<br>
    que explota al impactar y se divide en 7 espinas. Su Súper lanza un proyectil espinoso que crea un área de púas
    en<br>
    el suelo que ralentiza y daña. Su primer gadget, Lluvia de espinas, dispara rápidamente oleadas de espinas en
    todas<br>
    direcciones a su alrededor. Su segundo gadget, Vida Vegetal, genera un cactus para proporcionar cobertura para él
    y<br>
    sus compañeros de equipo, y los cura en un radio una vez que el cactus es destruido. Su primera Habilidad
    estelar,<br>
    "Fertilizante", le permite a Spike curarse a sí mismo con el tiempo cuando está dentro del área de efecto de su<br>
    Super. Su segunda Habilidad estelar, "Curvatura", hace que las espinas disparadas desde su ataque se curven en
    un<br>
    movimiento espiral.
  </p>
  <button style="height: 75px; width: 75px; color: #28793c; background-color: rgb(127, 223, 108);"><strong>REGRESAR AL
      INCIO</strong>
  </button>
</body>