<body>
  <h1>
    <b style=" color: #7514c5;">
      Shelly-Damage Dealer
    </b>
  </h1>
  <b>
    <i>
      "Shelly es la tiradora perfecta: donde pone el ojo, pone la bala. No entiende por qué Colt es quien siempre se
      lleva las miradas..."<br>
    </i>
  </b>
  <img style="height: 500px; width: 500px;"
    src="https://th.bing.com/th/id/R.fbdee14deb977d7494a855838a461f0e?rik=DBtRENareTWPZQ&riu=http%3a%2f%2fpm1.narvii.com%2f7333%2f21b337c9a0ee46ceebbc98b181ac54e32d062231r1-1024-908v2_uhq.jpg&ehk=C%2bDGOsGNtM4aDJ7zcpfWcXhFTVXcs0EmSkzCNJB4vSc%3d&risl=&pid=ImgRaw&r=0">
  <p>
    Shelly es una <i style="color: #49c3e9;">Brawler <strong>común</strong></i> que se desbloquea al comenzar el juego.
    Tiene una salud moderada y una eficacia en<br>
    cuanto a daño. Su escopeta causa más daño cuanto más cerca está de su objetivo, lo que la hace excelente para el<br>
    combate de corto a medio alcance. Sus ataques también son extendidos. Su Súper puede derribar varios obstáculos
    y<br>
    también derribará y aturdirá a los Brawlers enemigos. Su primer Gadget, Paso al frente, le permite lanzarse en
    la<br>
    dirección que está mirando. Su segundo gadget, Tiro al Plato, aumenta el alcance de su ataque principal y reduce
    su<br>
    extensión. Su Primera Habilidad Estelar, Choque mate, puede ralentizar a los enemigos durante 3 segundos cuando
    son<br>
    golpeados por su Super. Su Segunda Habilidad Estelar, Primeros auxilios, hace que ella se cure cuando su salud
    cae<br>
    por debajo del 40% y tarda en recargarse 15 segundos. Su Hipercarga, A dos cañones, aumenta la dispersión y el<br>
    número de proyectiles que dispara su Súper.
  </p>
  <button style="height: 75px; width: 75px; color: #4b2879; background-color: rgb(125, 108, 223);"><strong>REGRESAR AL
      INCIO</strong>
  </button>
</body>