<body>
  <h1>
    <b style=" color: #3f3e3e;">
      Rico-Damage Dealer
    </b>
  </h1>
  <b>
    <i>
      "Rico is definitely a real space bounty hunter who tracks down the galaxy's most wanted criminals, not a gumball
      machine pretending to be cool."<br>
    </i>
  </b>
  <img src="https://th.bing.com/th/id/OIP.g6RFZWUyIaVbkZJcFuqWlwHaII?rs=1&pid=ImgDetMain">
  <p>
    Rico (formerly Ricochet) is a <i style="color: blue;"><strong>Super Rare</strong> Brawler</i> with low health but a
    moderately high damage output. <br>
    Both his attack and Super fire bullets that can bounce off of walls and continue traveling. If used correctly,<br>
    Rico can defeat enemies around walls without coming under enemy fire. His first Gadget, Multiball Launcher, <br>
    blasts waves of bouncy bullets all around himself. His second Gadget, Bouncy Castle, allows his next attack <br>
    to heal him each time one of its bullets bounces off of a wall. His first Star Power, Super Bouncy, grants extra<br>
    damage to his bullets from his attack or Super if they bounce. His second Star Power, Robo Retreat, increases<br>
    his movement speed when he is at low health. His Hypercharge, Trick Shot King, allows the projectiles from his<br>
    Super to bounce much further than normal.
  </p>
  <button style="height: 75px; width: 75px; color: #111111; background-color: rgb(116, 116, 116);"><strong>REGRESAR AL
      INCIO</strong>
  </button>
</body>