#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.piper {
  color: #d46e6e;
  background-color: hover #440953;
}

.rico {
  color: #440953;
}

.sandy {
  color: rgb(218, 146, 58);
}

.shelly {
  color: rgb(94, 46, 226);
}

.spike {
  color: #44df51;
}